* {
  font-family: Roboto, sans-serif;
}

body {
  padding: 0px;
  margin: 0px;
  color:black;
  opacity:0.95;
}

nav {
  background-color: #FFFFFF;
  display:flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: nowrap;
  position:fixed;
  left:0px;
  top:0px;
  right:0px;
  box-shadow: 0 2px 4px rgba(0,0,0,.5);
}

.titleICO {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  opacity: 0.9;
}

.titleICO > i {
  margin-right: 3px;
  font-size: 40px;
}

.titleICO > div {
  font-size:20px;
}

.rightNav {
  margin:0px;
  display:flex;
  align-items: center;
}

.rightNav > .material-icons {
  font-size:60px;
  margin-right:2px;
  opacity:0.8;
}

.myAccountBox > .address, .eth, .dctoken {
  font-size:12px;
}

.container {
  background-color: #1954F0;
  width: 100%;
  background-image: radial-gradient(circle farthest-corner at 50% 50%, #39f, #339);
  padding-bottom: 25px;
}

.containerMiddle {
  width:1000px;
  margin: 0px auto;
  color: white;
  padding-top:80px;
}

.header1 {
  font-size: 28px;
  font-weight: bold;
  margin-bottom: 30px;
}

.flex {
  display: flex;
}

.movieContainer {
  width: 500px;
  padding-bottom:40px;
}

.buttonContainer > div{
  margin-top: 20px;
}

.textArea {
  font-size: 18px;
}

.video-react, .video-react .video-react-poster {
  background-color: rgba(0,0,0,0);
}



/* CSS Code for Start Page */
.space-around {
  justify-content: space-around;
}
.space-between {
  justify-content: space-between;
}
.tokenSaleContainer {
	 width: 1000px;
	 background-color: white;
   box-shadow: 0 8px 8px rgba(0,0,0,.5);
   margin: 0 auto;
   margin-top: -60px;
   position: relative;
   padding-top: 10px;
   padding-bottom: 10px;
   top: 50px;
}
.tokenSaleLeftSide {
  width: 500px;
  border-right: 1px solid #D9E5F4;
  height: 100%;
  margin-top: 10px;
  padding-right: 20px;
  padding-left: 30px;
}
.tokensSold, .contributors {
  font-size:20px;
  color:black;
  opacity:0.87;
}
.totalSuppy {
 margin-top: 15px;
 margin-bottom: 15px;
 font-size:20px;
 color:black;
 opacity:0.87;
}
.titleTokenSale {
  font-size: 30px;
  font-weight: bold;
  color:black;
  width: 500px;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0.87;
}
.tokenSaleEnds {
  display: flex;
  align-items: center;
  justify-content: center;
  color:black;
  font-size: 15px;
  opacity: 0.87;
  margin-top: 10px;
}
.time {
  margin-top: 20px;
}
.time > div {
  color: black;
}
.headerTime {
  color: black;
  font-weight: bold;
  font-size: 25px;
  opacity: 0.87;
}
.Icons {
  width: 800px;
  margin: 0 auto;
  margin-top: 50px;
}
.Icons i {
  font-size: 25px;
  color: black;
  opacity: 0.87;
}